<div class="row">
	<div class="large-12 columns">
		<b><%= jean.model.brand %></b>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<%= jean.model.name %> (true waist <%= jean.waist %>)
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		$<%= jean.model.price %>	
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<%= jean.model.fit %>	
	</div>
</div>