<%= form_tag items_path, :method => 'get', :id => "test" do %>
    <div class"row">
        <div class="col-md-2">
            <%= text_field_tag :waist, params[:waist], placeholder: "Waist" %>
            <br>
            <%= text_field_tag :front_rise, params[:front_rise], placeholder: "Front Rise" %>
            <br>
            <%= text_field_tag :thigh, params[:thigh], placeholder: "Thigh" %>
            <br>
            <%= text_field_tag :knee, params[:knee], placeholder: "Knee" %>
            <br>
            <%= text_field_tag :leg_opening, params[:leg_opening], placeholder: "Leg Opening" %>
            <br>
        </div>
        <div class="col-md-2">
            <%= select_tag :made_in, options_from_collection_for_select(Item.select(:made_in).uniq, :made_in, :made_in, :selected => params[:made_in]), :prompt => 'All Countries' %>
            <br>
            <%= select_tag :fabric_origin, options_from_collection_for_select(Item.select(:fabric_origin).uniq, :fabric_origin, :fabric_origin, :selected => params[:fabric_origin]), :prompt => 'All Mills' %>
            <br>
            <%= select_tag :color, options_from_collection_for_select(Item.select(:color).uniq, :color, :color, :selected => params[:color]), :prompt => 'All Colors' %>
            <br>
            <%= select_tag :brand, options_from_collection_for_select(Item.select(:brand).uniq, :brand, :brand, :selected => params[:brand]), :prompt => 'All Brands' %>
            <br>
        </div>
        <div class-"col-md-2">
            Sanforized<br>
            <%= radio_button_tag :sanforized, true, 
                        (params[:sanforized] == "true" ? true : false) %>
            <%= label_tag(:sanforized_true, "Yes") %>
            <%= radio_button_tag :sanforized, false, 
                        (params[:sanforized] == "false" ? true : false) %>
            <%= label_tag(:sanforized_false, "No") %>
            <%= radio_button_tag :sanforized, "none", 
                        (params[:sanforized] == nil || 
                         params[:sanforized] == "none" ? true : false) %>
            <%= label_tag(:sanforized_none, "No Preference") %>
            <br>
            Selvedge<br>
            <%= radio_button_tag :selvedge, true, 
                        (params[:selvedge] == "true" ? true : false) %>
            <%= label_tag(:selvedge_true, "Yes") %>
            <%= radio_button_tag :selvedge, false, 
                        (params[:selvedge] == "false" ? true : false) %>
            <%= label_tag(:selvedge_false, "No") %>
            <%= radio_button_tag :selvedge, "none", 
                        (params[:selvedge] == nil || 
                         params[:selvedge] == "none" ? true : false) %>
            <%= label_tag(:selvedge_none, "No Preference") %>
            <br>
        </div>
    </div>
    <br><br><br>
    <%= submit_tag "Search", :name => nil %>
<% end %>