<h1>Edit an existing Item in the database</h1>

<%= form_for @item do |f| %>

	<%= f.text_field :name, placeholder: "Model" %>
	<br>
	<%= f.text_field :brand, placeholder: "Brand" %>
	<br>
	<%= f.text_field :tag_size, placeholder: "Tagged Size" %>
	<br>
	<%= f.text_field :waist, placeholder: "Waist" %>
	<br>
	<%= f.text_field :front_rise, placeholder: "Front Rise" %>
	<br>
	<%= f.text_field :thigh, placeholder: "Thigh" %>
	<br>
	<%= f.text_field :knee, placeholder: "Knee" %>
	<br>
	<%= f.text_field :leg_opening, placeholder: "Leg Opening" %>
	<br>
	<%= f.text_field :inseam, placeholder: "Inseam" %>
	<br>
	<%= f.text_field :denim_weight, placeholder: "Denim Weight" %>
	<br>
	<%= f.check_box :sanforized %> The Jean is Sanforized
	<br>
	<%= f.text_field :color, placeholder: "Color" %>
	<br>
	<%= f.text_field :price, placeholder: "Price" %>
	<br>
	<%= f.text_field :link, placeholder: "Link" %>
	<br>
	<%= f.submit "Save Item" %>

<% end %>
<%= link_to "Index", items_path %>