<%= render 'layouts/header' %>


<div class="col-md-12">

		<%= form_tag item_path, :method => 'get', :id => "parse" do %>
      <p>
        <%= text_area_tag :parse, params[:parse], placeholder: "Put in formatted jeans to get parsed jeans" %>
        <%= submit_tag "Parse", :name => nil, class: "btn btn-medium btn-primary" %>
      </p>
    <% end %>
    tag_size: <%= @tag_size %>,<br>
    waist: <%= @waist %>,<br>
    front_rise: <%= @front_rise %>,<br>
    thigh: <%= @thigh %>,<br>
    knee: <%= @knee %>,<br>
    leg_opening: <%= @leg_opening %>,<br> 
    inseam: <%= @inseam %>,<br>

<h1><%= @item.name %></h1>

<b>Name:  </b>
	<%= @item.name %><br>
<b>Brand:  </b>
	<%= @item.brand %><br>
<b>Tag Size:  </b>
	<%= @item.tag_size %><br>
<b>Waist:  </b>
	<%= @item.waist %><br>
<b>Front Rise: </b> 
	<%= @item.front_rise %><br>
<b>Thigh:  </b>
	<%= @item.thigh %><br>
<b>Knee:  </b>
	<%= @item.knee %><br>
<b>Leg Opening: </b> 
	<%= @item.leg_opening %><br>
<b>Inseam:  </b>
	<%= @item.inseam %><br>
<b>Color:  </b>
	<%= @item.color %><br>
<b>Weight</b>
	<%= @item.denim_weight %><br>
<b>Sanforized:  </b>
	<%= @item.sanforized %><br>
<b>Stretch:  </b>
	<%= @item.stretch %><br>
<b>Price:  </b>
	<%= @item.price %><br>
<b>Color:  </b>
	<%= @item.color %><br>
<b>More Info:  </b>
	<%= @item.link %><br>

</div>